.main {
  height: fit-content;
  width: 100%;
  z-index: 2;
}

.nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100%;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;

  @media(max-width: 960px) {
    flex-wrap: wrap;
  }
}

.link {
  cursor: pointer;
  transition: all 0.15s linear;

  &:hover {
    text-decoration: underline;
  }

  &:hover .arrow {
    transform: translateX(-7px);
  }
}


@media screen and (max-width: 1200px) {
  .main {
    padding: 0 30px;
  }
}


@media screen and (max-width: 575px) {
  .link {
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
      display: none;
    }
  }

  .home {
    display: block;
    width: 33px;
    margin-bottom: 7px;
  }
}
