.main {
  font-weight: 800;
  font-size: 76px;
  line-height: 92px;
  color: var(--light);
  text-align: center;
  max-width: 100vw;

  &_big {
    font-size: 54px;
    line-height: 64px;
  }

  &_medium {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
  }
}

@media screen and (max-width: 991px) {
  .main {
    font-size: 55px;
    line-height: 65px;

    &_big {
      font-size: 45px;
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    font-size: 48px;

    &_big {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: 575px) {
  .main {
    font-size: 33px;
    line-height: 45px;

    &_big {
      font-size: 30px;
      line-height: 35px;
    }

    &_medium {
      font-size: 21px;
      line-height: 30px;
    }
  }
}
